@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Unica+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 50px;
    margin-left: 15px;
    cursor: pointer;
}
li, a{
    font-family: 'Unica One', cursive;
    font-size: 36;
    color: #fff;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00263D;
    width: 100%;
    height: 80px;
}
.menu{
    margin-right: 40px;
    list-style: none;

}
.menu{
    margin: 20px;
}
.menu-wrap .menu >div > div >ul >li{
    display: inline-block;
    padding: 0px 20px;
}
.menu-wrap .menu >div > div >ul >li a{
    transition: all 0.3s ease 0s ;
}
.menu-wrap .menu >div > div >ul >li a:hover{
    color: rgb(155, 155, 155);
}
.container {
    position: relative;
}


.img-text {
    position: absolute;
    font-family: 'Unica One', cursive;
    font-size: 3em;
    top: 70px;
    left: 70px;
    color: white;
}
button{
      width: 250PX;
      height: 50PX;
      font-family: 'Unica One', cursive;
      font-size: 36px;
      border-radius: 10px;
      background-color: #00263D;
      color: #fff;
      border: none;
      cursor: pointer;
}
.home-btn{
   position: relative;
   bottom: 100px;
   text-align: center;
}
.home-img{
    height: 550px;
    object-fit: cover;
}




h1{
    font-family: 'Unica One', cursive;
    font-size: 4em;
    margin: 20px;
}
h2{
    font-size: 2.250em;
    font-family: 'Unica One', cursive;
    margin: 20px 23px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 20px 23px;
}



.home-explor-section{
    text-align: center;
    padding: 20px 20px;
}
.home-explor-container{
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    width: 100%;
}
.home-explor{
    margin: 20px;
    background-color: #212B37;
    color: #F3F3F3;
    border-radius: 15px;
}
.home-explor-img{
    border-radius: 10px 10px 0px 0px;
}
.home-explor{
    transition: all 0.3s ease 0s ;
}
.home-explor:hover{
    color: rgb(155, 155, 155);
}
.home-explor-text{
    max-width: 400px;
}



.home-event-section{
    text-align: center;
    padding: 20px 200px;
    background-color: #00263D;
    color: #F3F3F3;
}
.home-event-container{
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    width: 100%;
}
.home-event{
    margin: 20px;
    background-color: #F3F3F3;
    color: #000000;
    border-radius: 15px;
}
.home-event-img{
    border-radius: 10px 10px 0px 0px;
}
.home-event{
    transition: all 0.3s ease 0s ;
}
.home-event:hover{
    color: rgb(155, 155, 155);
}
.home-event-text{
    max-width: 400px;
}




.home-footer{
    background-color:#212B37 ;
    padding: 70px;
    color: #F3F3F3;
    ;
}
.home-footer-container{
    max-width: 768px;
    margin: auto;
}
.home-footer-row{
    display: flex;
}
ul{
    list-style: none;
}
.home-footer-col{
    width: 500px;
    padding: 20px;
    margin: 0px;
}
.home-footer-col ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

h3{
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
}
.copy{
    margin-top: 1px;
    height: 70px;
    width: 100%;
    background-color: #212B37;
}
.logo:nth-child(1){
    margin: 0;
}
h5{
    color: #F3F3F3;
    padding: 25px;
    text-align: center;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.bottum{
    background-color:#212B37 ;
    padding: 25px;
    margin-top: 1px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #F3F3F3;
}
.menu-wrap .toggler{
    opacity: 0;
}




@media screen and (max-width: 1440px) {
    li, a{
        font-size: 32px;
    }
    .menu li{
        padding: 0px 16px;
    }


}


@media screen and (max-width: 1200px) {
    li, a{
        font-size: 28px;
    }
    .menu li{
        padding: 0px 12px;
    } 
    .home-explor{
        margin: 15px;
    }
}


@media screen and (max-width: 1024px) {
    .menu li{
        padding: 0px 8px;
    }
    .home-explor{
        margin: 10px;
    }
    .home-event-section{
        padding: 20px 100px;
    }
}


@media screen and (max-width: 768px) {

    .home-explor:nth-child(1){
        display: none;
    }
    .home-event-section{
        padding: 20px 20px;
    }
    .home-event{
        margin: 10px;
    }

    .home-footer{
        padding: 70px;
        margin: auto;
    }

    .home-footer-row{
        flex-direction: column;
    }
    .home-footer-container{
        margin: auto;
    }
    .home-footer-col{
        width: 100%;
    }




.menu-wrap{
    position: fixed;
    top: 10;
    right: 10;
    z-index: 1;
}   
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50PX;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger{
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: #00263D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    /*hamburger line*/
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
    /*top and botttom*/
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.menu-wrap .hamburger > div::after{
    top: 10px;
}

/*togler animate*/
.menu-wrap .toggler:checked + .hamburger>div{
    transform: rotate(125deg);
}
/*turn line into x*/
.menu-wrap .toggler:checked + .hamburger>div::before,
.menu-wrap .toggler:checked + .hamburger>div::after{
    top: 0;
    transform: rotate(90deg);
}
/* Rotate on hover when checked*/
.menu-wrap .toggler:checked:hover + .hamburger>div{
    transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
}
.menu-wrap .toggler:checked ~ .menu > div >div{
    opacity: 1;
    transition: opacity 0.4s ease;
}

/* show menu*/
.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu >div{
    background-color: #00263df5;
    border-radius: 50%;
    width: 300vw;
    height: 300vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
.menu-wrap .menu >div > div{
    flex-direction: column;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu >div > div >ul >li{
    display: block;
    list-style: none;
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem;
}
.menu-wrap .menu >div > div >ul >li a{
    color: #fff;
    text-decoration: none;
    transition: color 0.4 ease ;
}

}






@media screen and (max-width: 480px) {

    .home-explor:nth-child(1){
        display: block;
    }
    .home-explor-container{
        display: flex;
        flex-direction: column;
    }
    .home-event-container{
        display: flex;
        flex-direction: column;
    }


}