@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Unica+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 50px;
    margin-left: 15px;
    cursor: pointer;
}
li, a{
    font-family: 'Unica One', cursive;
    font-size: 36;
    color: #fff;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00263D;
    width: 100%;
    height: 80px;
}
.menu{
    margin-right: 40px;
    list-style: none;

}
.menu{
    margin: 20px;
}
.menu-wrap .menu >div > div >ul >li{
    display: inline-block;
    padding: 0px 20px;
}
.menu-wrap .menu >div > div >ul >li a{
    transition: all 0.3s ease 0s ;
}
.menu-wrap .menu >div > div >ul >li a:hover{
    color: rgb(155, 155, 155);
}





h3{
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
}
.copy{
    margin-top: 1px;
    height: 70px;
    width: 100%;
    background-color: #212B37;
}
.logo:nth-child(1){
    margin: 0;
}
h5{
    color: #F3F3F3;
    padding: 25px;
    text-align: center;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}
.bottum{
    background-color:#212B37 ;
    padding: 25px;
    margin-top: 1px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #F3F3F3;
}
.menu-wrap .toggler{
    opacity: 0;
}
h4{
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
}


.img-text{
    position: absolute;
    top: 170px;
    left: 70px;
    font-family: 'Unica One', cursive;
    font-size: 2.5em;
    color: white;
}



.visit-img{
    height: 100%;
    object-fit: cover;
}
h2{
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
}

.section-opend{
    text-align: center;
    padding: 25px;
    background-color: #212B37;
    color: #fff;
}

.opend-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}



.map{
    width: 100%;
    height: 500px;

}




.guided-section{
    text-align: center;
    padding: 25px;
}
.guided-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}
.form{
    position: relative;
    width: 700px;
    height: 50px;
    background: rgb(0, 0, 0);
    overflow: hidden;
    margin: 10px;
}
.form input{
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    border: none;
    outline: none;
}
.form label{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    
}
.form label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid gold;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.form input:focus + .lable-name .content-name,
.form input:valid + .lable-name .content-name{
    transform: translateY(-150%);
    font-size: 1em;
}
.form input:focus + .lable-name::after, 
.form input:valid + .lable-name::after{
transform: translateX(0%);
}
button{
    width:200px;
    height: 50px;
    border-radius: 10px;
    background-color: #212B37;
    border: none;
    color: #fff;
    font-size: 1em;
    margin: 20PX;
}






.home-footer{
    background-color:#212B37 ;
    padding: 70px;
    color: #F3F3F3;
}
.home-footer-container{
    max-width: 768px;
    margin: auto;
}
.home-footer-row{
    display: flex;
}
ul{
    list-style: none;
}
.home-footer-col{
    width: 500px;
    padding: 20px;
    margin: 0px;
}
.home-footer-col ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}




@media screen and (max-width: 1440px) {
    li, a{
        font-size: 32px;
    }
    .menu li{
        padding: 0px 16px;
    }


}


@media screen and (max-width: 1200px) {
    li, a{
        font-size: 28px;
    }
    .menu li{
        padding: 0px 12px;
    } 
}


@media screen and (max-width: 1024px) {
    .menu li{
        padding: 0px 8px;
    }

}


@media screen and (max-width: 768px) {




    .menu-wrap{
        position: fixed;
        top: 10;
        right: 10;
        z-index: 1;
    }   
    .menu-wrap .toggler{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 50PX;
        height: 50px;
        opacity: 0;
    }
    .menu-wrap .hamburger{
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background-color: #00263D;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        /*hamburger line*/
    .menu-wrap .hamburger > div {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
        /*top and botttom*/
    .menu-wrap .hamburger > div::before,
    .menu-wrap .hamburger > div::after{
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
    .menu-wrap .hamburger > div::after{
        top: 10px;
    }
    
    /*togler animate*/
    .menu-wrap .toggler:checked + .hamburger>div{
        transform: rotate(125deg);
    }
    /*turn line into x*/
    .menu-wrap .toggler:checked + .hamburger>div::before,
    .menu-wrap .toggler:checked + .hamburger>div::after{
        top: 0;
        transform: rotate(90deg);
    }
    /* Rotate on hover when checked*/
    .menu-wrap .toggler:checked:hover + .hamburger>div{
        transform: rotate(225deg);
    }
    .menu-wrap .toggler:checked ~ .menu{
        visibility: visible;
    }
    .menu-wrap .toggler:checked ~ .menu > div{
        transform: scale(1);
    }
    .menu-wrap .toggler:checked ~ .menu > div >div{
        opacity: 1;
        transition: opacity 0.4s ease;
    }
    
    /* show menu*/
    .menu-wrap .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-wrap .menu >div{
        background-color: #00263df5;
        border-radius: 50%;
        width: 300vw;
        height: 300vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    .menu-wrap .menu >div > div{
        flex-direction: column;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    .menu-wrap .menu >div > div >ul >li{
        display: block;
        list-style: none;
        font-size: 1.5rem;
        color: #fff;
        padding: 1rem;
    }
    .menu-wrap .menu >div > div >ul >li a{
        color: #fff;
        text-decoration: none;
        transition: color 0.4 ease ;
    }


    .home-footer{
        padding: 20px 0px;
        margin: auto;
    }

    .home-footer-row{
        flex-direction: row;
    }
.home-footer-container{
    margin: auto;
}
.home-footer-col{
    width: 100%;
    padding: 5;
}

.form{
    width: 350px;
}

.visit-img{
    height: 500PX;
    object-fit: cover;
}

}






@media screen and (max-width: 480px) {
    .home-footer{
        padding: 20px 50px;
        margin: auto;
    }

    .home-footer-row{
        flex-direction: column;
    }
}